<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">airbnb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings">All Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings/create">Add new Listing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <!-- the above code was taken from bootstrap but since i dont have enough knowledge about it, i am makin my own navbar below -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>airbnb</title>
</head>
<body>
  <nav>
    <ul class="navbar-ul">
      <li><a class="nav-a-tag" href="/listings"><i class="fa-regular fa-compass" style="font-size: 2rem; color: #FF5A5F"></i></a></li>
      <li><a class="nav-a-tag" href="/">Home</a></li>
      <li><a class="nav-a-tag" href="/listings">All Listings</a></li>
      <li id="nav-li-id"><a class="nav-a-tag" href="/listings/create" id="create-listing-button-id">Create Listing <i class="fa-solid fa-plus"></i></a></li>
    </ul>
  </nav>
</body>
</html>