<%- layout('layouts/boilerplate.ejs') %>
<body>
    <div class="row"> <!--this row class makes our divs display in row-->
        <div class="col-8 offset-2">  <!--this col-8 divide our body container in 8 cols-->
            <h3>Create New Listing</h3>
            <form method="POST" action="/upload">
                <div>
                    <label for="title" class="form-label">Title</label> <!--form-label is a class for bootstrap form label-->
                    <input type="text" name="title" class="form-control"> <br> <!--form-control is a class for bootstrap form input-->
                </div>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" class="form-control"> <br>
                </div>
                <div>
                    <label for="image" class="form-label">Image URL/Link</label>
                    <input type="url" name="image" class="form-control"> <br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="price" class="form-control"> <br>
                    </div>
                    <div class="col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" class="form-control"> <br>
                    </div>
                </div>
                <div class="mb-5">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" class="form-control"> <br>
                </div>
                <button class="btn btn-dark mb-4 create-btn">Create</button> <!--btn and btn-dark are bootstrap classes for button-->
            </form>
        </div>
    </div>
</body>